// common
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
// import material library
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

.body{

}
#v {
  display: none;
}
.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}
.my-input{
  // @include mdc-text-field--textarea;
  @include mdc-text-field-label-color(teal);
  width: 500px;
}
.my-text-wrap{
  margin: 24px 16px 16px 16px;
}
