// common
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
// import material library
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

.body{
  background-color: teal;
}
.hero{
  width: 100%;
  height: 1000px;
}
#v {
  display: none;
}
.button-wrap{
  margin: 36px 0px 60px 0px;
  text-align: center;
}
.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  // @include mdc-button-container-fill-color(teal);
}
.my-input{
  // @include mdc-text-field--textarea;
  @include mdc-text-field-label-color(teal);
  //SP
  width: 100%;
}
.my-text-wrap{
  margin: 24px 16px 16px 16px;
}
.parallax {
	width: 100%;
  //SP
	// height: 480px;
	background: #000000;
}
.block01{
  background-color: #999999;
}
.block02{
  background-color: #666666;
  text-align: center;
  color: #ffffff;
}
.block-head01{
  margin: 0px;
  text-align: center;
  //SP
  img{
    margin-top: 50px;
    width: 294px;
    height: 50px;
  }
}
.block-text01{
  margin: 50px 32px 50px 32px;
  color:#ffffff;
  text-align: center;
  font-size: 14px;
}
.block-text02{
  margin-top: 36px;
  &:first-child{
    margin-top: 60px;
  }
  &:last-child{
    margin-bottom: 60px;
  }
}
