// common
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
// import material library
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

$main-color: #b7e6e1;


.body{
  // background-color: $main-color;
  //pyo
}
.hero{
  position: relative;
  width: 100%;
  height: 1000px;
  a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    // -webkit-transform: translate(0, -50%);
    transform: translate(-50%, 0);
    text-decoration: none;
    padding-top: 70px;
    color: transparent;
  }
  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
}
.gif{
  width: 100%;
}
#v {
  display: none;
}
.button-wrap{
  margin: 36px 0px 60px 0px;
  text-align: center;
}
.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
  // @include mdc-button-container-fill-color(teal);
}
.my-input{
  // @include mdc-text-field--textarea;
  @include mdc-text-field-label-color(teal);
  //SP
  width: 100%;
}
.my-text-wrap{
  margin: 24px 16px 16px 16px;
}

.block01{
  height: 480px;
  width: 100%;
  background: url(/images/lemon.png) center center / cover no-repeat fixed;
  background-color: #999999;
  display: flex;
	align-items: center;
  justify-content: center;
}
.block-head01{
  margin: 0px;
  // line-height: 480px;
  text-align: center;
  //SP
  img{
    width: 356px;
    height: 218px;
    margin: auto;
  }
}
.block02{
  position: relative;
  overflow: hidden;
  width: 100%;
  // &:before{
  //   content: "";
  //   width: 58px;
  //   height: 58px;
  //   position: absolute;
  //   right: 60px;
  //   bottom: 30px;
  //   background: url(/images/wine.png) no-repeat;
  // }
}
.block-text02{
  margin: 50px 32px 50px 32px;
  color:#333333;
  text-align: center;
  font-size: 14px;
  line-height: 300%;
}
.block-text03{
  margin-top: 48px;
  font-size: 14px;
  &:first-child{
    margin-top: 60px;
  }
  &:last-child{
    margin-bottom: 60px;
  }
  img{
    margin-bottom: 20px;
  }
}
.block03{
  height: 480px;
  width:100%;
  background-color: #666666;
  text-align: center;
  color: #ffffff;
  background: url(/images/uwajima.png) center center / cover no-repeat fixed;
  overflow: hidden;
}
.contact_ripple{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $main-color;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  transition: opacity, -webkit-transform .8s ease-in-out;
  transition: opacity, transform .8s ease-in-out;
  transition: opacity, transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  z-index: 10;
}
.contact_ripple_on {
  opacity: 1;
  -webkit-transform: scale(200);
  transform: scale(200);
    }
.mail_icon{
  text-align: center;
  width: 80px;
  height: 22px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 60px;
  color: #ffffff;
  background: url("/images/mail.svg") no-repeat;
  background-position: center top;
  background-size: 62px 42px;
  font-size: 11px;
  font-family: 'Montserrat';
  font-weight: bold;
  z-index: 50;
  opacity: 0;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: 1s ease-in-out;
  transition-property: all;
}
.mail_icon_up{
  opacity: 1;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
